<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<table>
  <tr>
    <div class="field">
      <th><%= f.label :名前 %></th>
      <td><%= "(姓)" %><%= f.text_field :last_name %>
      <%= "(名)" %><%= f.text_field :first_name %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :フリガナ %></th>
      <td><%= "(セイ)" %><%= f.text_field :last_name_kana %>
      <%= "(メイ)" %><%= f.text_field :first_name_kana %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :郵便番号（ハイフンなし） %></th>
      <td><%= f.text_field :postal_code %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, size: "50x20" %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :電話番号（ハイフンなし） %></th>
      <td><%= f.text_field :telephone_number %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th><%= f.label :パスワード（６文字以上） %></th>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </div>
  </tr>
  </tr>
    <div class="field">
      <th><%= f.label :パスワード（確認用） %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </div>
  </tr>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
</table>
<% end %>

<%= render "public/shared/links" %>
