<h3>注文情報入力</h3>
  <%= form_with model: [:public,@order], url: public_orders_comfirm_path do |f| %>
  <h4>支払方法</h4>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <br>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
  <h4>お届け先</h4>
    <%= f.radio_button :select_address, "a" %>
    <%= f.label :select_address, "ご自身の住所" %><br>
    <%= current_customer.address_display %>
    <br>
    <%= f.radio_button :select_address, "b" %>
    <%= f.label :select_address, "登録済住所から選択" %><br>
    <%= f.select :address_id, options_from_collection_for_select(@address, :id, :address_display) %>
    <br>
    <%= f.radio_button :select_address, "c" %>
    <%= f.label :select_address, "新しいお届け先" %><br>
    <table>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td></td>
      </tr>
    </table>
  <% end %>