<table>
  <tr>
    <th><%= image_tag @item.get_image(100,100) %></th>
  </tr>
  <tr>
    <td>
      <%= @item.name %><br>
      <%= @item.introduction %><br>
      ¥<%= @item.price %>(税込)<br>
      <%= f.select :amount, *[1..3] %>
    </td>
  </tr>
</table>


