<table>
  <tr>
    <th><%= image_tag @item.get_image(100,100) %></th>
  </tr>
  <tr>
    <td>
      <%= @item.name %><br>
      <%= @item.introduction %><br>
      ¥<%= @item.price %>(税込)<br>

      <%= form_with model: @cart_item, url:public_cart_items_path,method: :post do |f| %>
        <%= f.select :amount, *[1..5], {prompt: "個数選択"} %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </td>
  </tr>
</table>


